.Navbar {
    display: flex;
    align-items: center;
    height: 12vh;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(255, 105, 180); /* Hot Pink background */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.Navbar h3 {
    padding-left: 4vw;
    font-family: 'Whisper', cursive;
    font-size: 2.3rem;
    color: rgb(57, 146, 224); /* Light text for contrast */
    cursor: pointer;
}
